@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.Header {
	overflow : hidden;
	background-color: #191919;
	padding : 20px 10px;
}

.Header p{
	float: left;
  	color: #df0000;
  	text-align: center;
  	padding: 20px;
  	font-size: 18px; 
  	line-height: 25px;
  	border-radius: 4px;
}

.Header-Right a{
	color: #df0000;
	float : right;
	padding: 20px;
	text-decoration:none;
}

.Logo-Circle {
	background-color: #df0000;
	/* background : linear-gradient(to right bottom, rgba(223, 0, 0, 1), rgba(223, 0, 0, 0.5)); */
	height : 100px;
	width: 100px;
 	margin: 0 auto;
	border-radius: 50%;
	padding: 0 0 60px;
	z-index: 1;
}

.Logo img{
	margin: 18px;
	z-index: 3;
}

.Main {
	background-color:#191919;
}

.Main-Text h2{
	text-align: center;
	padding-top: 30px;
}

.Main-Text h3{
	text-align: center;
	padding-top: 30px;
}

.logo h3 {
	padding-top: 80px;
	padding-left: 50px;
}

main {
	min-height: 70vh;
	background-color: #191919;
	display : flex;
	align-items : center;
	justify-content : center;
}

.glass {
	background : #c00000;
	min-height : 30vh;
	width : 30%;
	/* background : linear-gradient(to right bottom, rgba(223, 0, 0, 1), rgba(223, 0, 0, 0.5)); */
	border-radius : 20px;
	z-index : 4;
	backdrop-filter : blur(2rem);
}

input[type=text] {
	background-color: #b65656;
	color: white;
  	padding: 10px 50px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 10px;
  	cursor: pointer;
}

input[type=submit] {
	width: 100%;
	background-color: #000000;
	color: #b65656;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: medium;
  }
  
.logo {
	padding-top: 80px;
	padding-left: 10px;
}

/* .circle1, .circle2 {
	background : #0bade7;
	background : linear-gradient(to right bottom, rgba(11, 173, 231, 1), rgba(11, 173, 231, 0.5));
	height : 200px;
	width : 200px;
	position : absolute;
	z-index : 1;
	border-radius : 50%
}

.circle1 {
	bottom : 5%;
	right : 15%;
}

.circle2 {
	top : 5%;
	left : 15%;
} */



form { 
	margin: 0 auto; 
	width:250px;
}



/* Registration Page CSS */

.Login-Main h2{
	text-align: center;
	padding-top: 30px;
}

.Login-Main h3{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.Registration-Glass {
	background : #c00000;
	min-height : 60vh;
	width : 40%;
	/* background : linear-gradient(to right bottom, rgba(223, 0, 0, 1), rgba(223, 0, 0, 0.5)); */
	border-radius : 20px;
	z-index : 4;
	backdrop-filter : blur(2rem);
	margin-right: auto;
	margin-left: auto;

}

.Registration-Glass h3 {
	text-align:center;
	padding-top: 10px;
}

input[type=email] {
	background-color: #b65656;
	color: white;
  	padding: 10px 50px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 10px;
  	cursor: pointer;
}

input[type=password] {
	background-color: #b65656;
	color: white;
  	padding: 10px 50px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 10px;
  	cursor: pointer;
}

input[type=number] {
	background-color: #b65656;
	color: white;
  	padding: 10px 50px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 10px;
  	cursor: pointer;
	-moz-appearance: textfield;
}

input[type=checkbox] {
  	padding: 10px 50px;
  	margin: 8px 0;
}

.registration-section {
	padding: 50px;
	padding-top: 30px;
}

.login-redirect a{
	text-align: center;
	color :black;
}

.login-redirect h3{
	text-align: center;
}

.footer-space {
	padding-top: 20px;
}



/* Login Page CSS */

.Login-Glass {
	background : #c00000;
	min-height : 40vh;
	width : 30%;
	border-radius : 20px;
	z-index : 4;
	backdrop-filter : blur(2rem);
	margin-right: auto;
	margin-left: auto;
}

.login-section {
	padding:50px;
}

.registration-redirect {
	padding: 25px;
}

.registration-redirect a {
	text-align: center;
	color :black;
}

.registration-redirect h3 {
	text-align: center;
}

.login-adjust {
	padding-top: 60px;
}


/* Dashboard Page CSS */

.dashboard-glass {
	background : #c00000;
	min-height : 50vh;
	width : 50%;
	border-radius : 20px;
	z-index : 4;
	backdrop-filter : blur(2rem);
	margin-right: auto;
	margin-left: auto;
}

.dashboard-info{
	align-items: center;
}

.dashboard-info h2 {
	text-align : left;
	padding-left: 30px;
	padding-top: 30px;
}


/* Account Page CSS */

.account-glass {
	background : #c00000;
	min-height : 30vh;
	width : 50%;
	border-radius : 20px;
	z-index : 4;
	backdrop-filter : blur(2rem);
	margin-right: auto;
	margin-left: auto;
}

.account-info{
	align-items: center;
}

.account-info h3 {
	text-align : left;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 5px;
	
}


/* Result Page CSS */

.result-glass {
	background : #c00000;
	min-height : 20vh;
	width : 60%;
	/* background : linear-gradient(to right bottom, rgba(223, 0, 0, 1), rgba(223, 0, 0, 0.5)); */
	border-radius : 20px;
	z-index : 4;
	backdrop-filter : blur(2rem);
	margin-right: auto;
	margin-left: auto;
}

.result-info{
	align-items: center;
}

.result-info h3 {
	text-align : left;
	padding-left: 30px;
	padding-top: 30px;
}

case-chart.column {
	height :10px;
	max-width: 40px;
	margin: 0 auto;
	padding-bottom: 10px;
}

case-chart.column {
	height :10px;
	max-width: 40px;
	margin: 0 auto;
	padding-bottom: 10px;
}

case-chart2.column {
	height :10px;
	max-width: 40px;
	margin: 0 auto;
	padding-bottom: 10px;
}

